/*
CSS Module for Followers component
*/
.card {
  padding: 2rem;
}

.img {
  width: 250px;
  height: 220px;
  margin-bottom: 2rem;
}

.title {
  font-size: 1.9rem;
}

@media (min-width: 1000px) {
  .gridItem {
    grid-column: 3 / 5;
    grid-row: 6 / 9;
  }
}
