/*
CSS Module for WriteContent component
*/
.card {
  padding: 1.5rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.img {
  width: 200px;
  height: 200px;
}

@media (min-width: 1000px) {
  .gridItem {
    grid-column: 1;
    grid-row: 5 / 9;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }

  .title {
    font-size: 2.4rem;
  }
}
