/*
Global CSS styles
*/
:root {
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  -webkit-font-smoothing: antialiased; /*smooths the edges of fonts on Chrome, Safari, Edge*/
  -moz-osx-font-smoothing: grayscale; /*smooths the edges of fonts Firefox on macOS*/
}

p {
  font-size: 1.125rem; /*18px*/
  letter-spacing: 0.02em;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

h1,
h2,
p {
  font-family: var(--font-DMSans);
}

.italic {
  font-family: var(--font-DMSansItalic);
}

/*Border radius*/
.border-r-10 {
  border-radius: 10px;
}

/*Text color*/
.whiteText {
  color: var(--white);
}

.softPurpleText {
  color: var(--purple-100);
}

.purpleText {
  color: var(--purple-500);
}

.yellowText {
  color: var(--yellow-500);
}

.centerText {
  text-align: center;
}

/*Background color*/
.softPurpleBg {
  background-color: var(--purple-100);
}

.purpleBg {
  background-color: var(--purple-500);
}

.softYellowBg {
  background-color: var(--yellow-100);
}

.yellowBg {
  background-color: var(--yellow-500);
}

/*Flex column centered container*/
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
