/*
CSS Module for Grid component
*/

.grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

@media (min-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "post socialMedia scheduleSocialMedia"
      "writeContent schedule manageAccounts"
      "audience followers";
    column-gap: 2rem;
  }
}
