/*
CSS Module for ManageAccounts component
*/
.card {
  padding: 1rem;
}

/*Image container*/
.imgCont {
  margin-bottom: 1rem;
}

.img {
  width: 433px;
  height: 70px;
}

@media (min-width: 1000px) {
  .gridItem {
    grid-column-start: 2;
    grid-row: 4 / 6;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 1.5rem;
  }

  .breakDesktop {
    display: block;
  }

  .img {
    max-width: none;
    width: 270px;
    margin-right: -100px;
  }
}
