/*
CSS Module for Post component
*/
.card {
  padding: 1rem 1.5rem;
}

.title {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 0.9;
  margin-bottom: 1rem;
}

.img {
  width: 180px;
  height: 85px;
}
